# 20 Python Data Structure Manipulation Exercises

In [1]:
import itertools

In [2]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

### 1.How many students are there?

In [3]:
student = students[0]
student

{'id': '100001',
 'student': 'Ada Lovelace',
 'coffee_preference': 'light',
 'course': 'web development',
 'grades': [70, 91, 82, 71],
 'pets': [{'species': 'horse', 'age': 8}]}

In [4]:
number = len(students)
print(f"We have {number} students in total")

We have 14 students in total

### 2.How many students prefer light coffee? For each type of coffee roast?

In [5]:
student['coffee_preference']

'light'

In [6]:
light_cof = 0
med_cof = 0
dark_cof = 0

for student in students:
    preference = student["coffee_preference"]
    if preference == "light":
        light_cof+=1
    if preference == "medium":
        med_cof+=1
    if preference == "dark":
        dark_cof +=1
    
light_cof
med_cof
dark_cof
print(f"{light_cof} is how many like light coffee. {med_cof} for medium. {dark_cof} for dark")

3 is how many like light coffee. 6 for medium. 5 for dark

### 3.How many types of each pet are there?

In [7]:
#if we don't know where to start, make a variable
pets = [] 

#for student in students:
student=students[1]
for pet in student['pets']:
    pets.append(pet["species"])
    
pets

[]

In [8]:
for student in students:
#student=students[1]
    for pet in student['pets']:
        pets.append(pet["species"])
    
pets

['horse',
 'cat',
 'dog',
 'cat',
 'horse',
 'horse',
 'dog',
 'cat',
 'cat',
 'cat',
 'cat',
 'cat',
 'cat',
 'cat',
 'cat',
 'cat',
 'horse',
 'dog']

In [9]:
pet_typ_count = {}
#how do you even think like this?
for pet in pets:
    #what
    if pet in pet_typ_count.keys():
        #in the
        pet_typ_count[pet] += 1
        #absolute
    else:
        #wizardry
        pet_typ_count[pet] = 1
    #is this
pet_typ_count

{'horse': 4, 'cat': 11, 'dog': 3}

###  4.How many grades does each student have? Do they all have the same number of grades?

In [10]:
#these are not functions yet, these are done through using while and loop
student

{'id': '100014',
 'student': 'Richard Feynman',
 'coffee_preference': 'medium',
 'course': 'web development',
 'grades': [73, 99, 86, 98],
 'pets': [{'species': 'dog', 'age': 6}]}

In [11]:
student['grades']

[73, 99, 86, 98]

In [12]:
for grade in student['grades']:
    print(grade)

73
99
86
98

#### Each student has 4 grades no one is > or <

In [13]:
for student in students:
    for grade in student['grades']:
        print(grade)

70
91
82
71
75
73
86
100
70
89
69
65
73
66
83
92
78
98
85
65
76
70
96
81
69
94
89
86
87
79
90
99
74
99
93
89
82
92
91
65
70
92
65
99
100
86
91
87
80
70
68
98
73
99
86
98

In [14]:
grades = []
for student in students:
    for grade in student['grades']:
        grades.append(grade)
print(grades)

[70, 91, 82, 71, 75, 73, 86, 100, 70, 89, 69, 65, 73, 66, 83, 92, 78, 98, 85, 65, 76, 70, 96, 81, 69, 94, 89, 86, 87, 79, 90, 99, 74, 99, 93, 89, 82, 92, 91, 65, 70, 92, 65, 99, 100, 86, 91, 87, 80, 70, 68, 98, 73, 99, 86, 98]

#### the total number of grades

In [15]:
x = len(grades)
x

56

### What is each student's grade average?

In [16]:
student

{'id': '100014',
 'student': 'Richard Feynman',
 'coffee_preference': 'medium',
 'course': 'web development',
 'grades': [73, 99, 86, 98],
 'pets': [{'species': 'dog', 'age': 6}]}

In [17]:
student["grades"]

[73, 99, 86, 98]

kinda ended up skipping ahead in material in that this was suppoused to be done sooner

In [18]:
from itertools import accumulate as ac

list(ac(student["grades"]))

#wrong idea
#wait a minute we can turn this around

[73, 172, 258, 356]

In [56]:
grades = []
for student in students:
    for grade in student['grades']:
        grades.append(grade)
print(grades)
list(ac(grades))
# average is total divided by sum, total gradescore is 4644 from function
# combining this with the total amount of grades and vuela
print("This is psuedo code but I have the answer to all of the students:",4644/56)

[70, 91, 82, 71, 75, 73, 86, 100, 70, 89, 69, 65, 73, 66, 83, 92, 78, 98, 85, 65, 76, 70, 96, 81, 69, 94, 89, 86, 87, 79, 90, 99, 74, 99, 93, 89, 82, 92, 91, 65, 70, 92, 65, 99, 100, 86, 91, 87, 80, 70, 68, 98, 73, 99, 86, 98]
This is psuedo code but I have the answer to all of the students: 82.92857142857143

In [20]:
#but we can take it one step further
#i imagine we can create a something to provide us both
avg_value = sum(grades) / len(grades)
avg_value
#accidentally got the answer for the last one
# students.get("grades")

82.92857142857143

In [27]:
student = students[0]
student

{'id': '100001',
 'student': 'Ada Lovelace',
 'coffee_preference': 'light',
 'course': 'web development',
 'grades': [70, 91, 82, 71],
 'pets': [{'species': 'horse', 'age': 8}]}

In [33]:
name = student["student"]
name

'Ada Lovelace'

In [29]:
grades=student["grades"]
grades

[70, 91, 82, 71]

In [31]:
avg_valu = sum(grades) / len(grades)
avg_valu

78.5

In [36]:
print(f"{name}\'s average grade is {avg_valu}")

Ada Lovelace's average grade is 78.5

In [65]:
list1=0
for student in students:
    name = student['student']
    for grade in student['grades']:
        list1=sum(student['grades']) / len(student['grades'])
    print(f'{name}\'s total average is {list1}')

Ada Lovelace's total average is 78.5
Thomas Bayes's total average is 83.5
Marie Curie's total average is 73.25
Grace Hopper's total average is 78.5
Alan Turing's total average is 81.5
Rosalind Franklin's total average is 80.75
Elizabeth Blackwell's total average is 84.5
Rene Descartes's total average is 88.75
Ahmed Zewail's total average is 88.75
Chien-Shiung Wu's total average is 82.5
William Sanford Nye's total average is 81.5
Carl Sagan's total average is 91.0
Jane Goodall's total average is 79.0
Richard Feynman's total average is 89.0

### How many pets does each student have