# beebeep boopbap

i need this needs to be edited easier

In [1]:
print("Jimmy eats shoes")

Jimmy eats shoes

#command s saves the current file
#option click toggles multiple lines
#F5 to run code shift F5 to stop it

In [ ]:
v = 5 is variable assignment

we can transform variables 
v + 5

In [ ]:
operators are our verbs
operators are +-=/

In [3]:
favorite_number = 2

In [4]:
#!= means ain't
favorite_number > 2

False

In [5]:
2 in [1,2,3,4]
#this is a collection

True

In [6]:
3 in [1,2,4,5,6,7]

False

In [7]:
'a' in 'banana'

True

In [8]:
not False

True

In [10]:
not not False

False

In [13]:
not not not False

True

In [15]:
from pydataset import data
df = data('tips')
df.head

<bound method NDFrame.head of      total_bill   tip     sex smoker   day    time  size
1         16.99  1.01  Female     No   Sun  Dinner     2
2         10.34  1.66    Male     No   Sun  Dinner     3
3         21.01  3.50    Male     No   Sun  Dinner     3
4         23.68  3.31    Male     No   Sun  Dinner     2
5         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
240       29.03  5.92    Male     No   Sat  Dinner     3
241       27.18  2.00  Female    Yes   Sat  Dinner     2
242       22.67  2.00    Male    Yes   Sat  Dinner     2
243       17.82  1.75    Male     No   Sat  Dinner     2
244       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]>

In [18]:
name = 'batman'
name

'batman'