# beebeep boopbap

i need this needs to be edited easier

In [1]:
print("Jimmy eats shoes")

Jimmy eats shoes

#command s saves the current file
#option click toggles multiple lines
#F5 to run code shift F5 to stop it

In [ ]:
v = 5 is variable assignment

we can transform variables 
v + 5

In [ ]:
operators are our verbs
operators are +-=/

In [3]:
favorite_number = 2

In [4]:
#!= means ain't
favorite_number > 2

False

In [5]:
2 in [1,2,3,4]
#this is a collection

True

In [6]:
3 in [1,2,4,5,6,7]

False

In [7]:
'a' in 'banana'

True

In [8]:
not False

True

In [10]:
not not False

False

In [13]:
not not not False

True

In [15]:
from pydataset import data
df = data('tips')
df.head

<bound method NDFrame.head of      total_bill   tip     sex smoker   day    time  size
1         16.99  1.01  Female     No   Sun  Dinner     2
2         10.34  1.66    Male     No   Sun  Dinner     3
3         21.01  3.50    Male     No   Sun  Dinner     3
4         23.68  3.31    Male     No   Sun  Dinner     2
5         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
240       29.03  5.92    Male     No   Sat  Dinner     3
241       27.18  2.00  Female    Yes   Sat  Dinner     2
242       22.67  2.00    Male    Yes   Sat  Dinner     2
243       17.82  1.75    Male     No   Sat  Dinner     2
244       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]>

In [18]:
name = 'batman'
name

'batman'

In [20]:
x = print('bob')
type(x)

bob

NoneType

In [21]:
## logical operators
-not: switches the boolean value of a value
-and: making sure both peices are true
-or: making sure at least one perice is true

SyntaxError: invalid syntax (1943863270.py, line 2)

In [23]:
doing_python_right_now = True
currently_on_mars = False

In [25]:
doing_python_right_now and currently_on_mars

False

In [27]:
doing_python_right_now or currently_on_mars

True

In [28]:
# when we combine and or not , (but == and not)
#we want to use paraentheses to enfore execute order

In [31]:
is_logged_in = False
is_admin = False
is_author = True

can_edit_post = is_logged_in and (is_admin or is_author)
can_edit_post

False

In [32]:
#mathematical operators
# +,-,*,/,**

In [41]:
2 ** 3 #two raised to the power of 3

8

In [36]:
12 / 3

4.0

In [38]:
4 ==  4.0

True

In [40]:
4 ==  4.00000000000000000000000000000000000000001

True

In [43]:
#modulo operator
# 5 % 2 read as five divided by 2 leaves what value
5 % 2

1

In [45]:
#is evenly divisble
4 % 2 ==  0

True

In [47]:
3/2

1.5

In [49]:
3 // 2

1

In [51]:
3 & 2

2

3*5

In [54]:
3.1 * 5

15.5

## strings
- letterss or  numbers contained in double or single quotes
- if we start a string with double quotes, we need to end w/ double
- if we  start w/ single quotes, we end with single quotes
- if we need a string that contains characters including

In [57]:
message = 'you been stick bugged'
message

'you been stick bugged'

In [58]:
#use case for triple quotes as a docstring
def is_even(n):
    """returns a boolean if the input is an even number"""
    return n % 2 == 0

In [60]:
is_even?
len?